[submodule "Data-Analysis"]
	path = Data-Analysis
	url = git@github.com:lpaggen/Data-Analysis-Projects.git
[submodule "Data-Analysis-Projects"]
	path = Data-Analysis-Projects
	url = https://github.com/lpaggen/Data-Analysis-Projects.git
[submodule "Natural-Language-Processing-Projects"]
	path = Natural-Language-Processing-Projects
	url = https://github.com/lpaggen/Natural-Language-Processing-Projects.git
[submodule "Linear-Program-Solver"]
	path = Linear-Program-Solver
	url = https://github.com/lpaggen/Linear-Program-Solver
[submodule "Genetic-Algorithms"]
	path = Genetic-Algorithms
	url = https://github.com/lpaggen/Genetic-Algorithms
[submodule "ACIBILIZER"]
	path = ACIBILIZER
	url = https://github.com/cpaggen/ACIBILIZER
[submodule "Deep-Learning-Forecasts"]
	path = Deep-Learning-Forecasts
	url = https://github.com/lpaggen/Deep-Learning-Forecasts
[submodule "Python-Game-Engine/tanks"]
	path = Python-Game-Engine/tanks
	url = https://github.com/lpaggen/tanks
[submodule "Python-Game-Engine"]
	path = Python-Game-Engine
	url = https://github.com/lpaggen/tanks
